<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
* {box-sizing: border-box
margin: 0;
padding: 0;}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
#show, #hide {
  z-index: 10;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
#show:hover, #hide:hover {
  background-color: #f1f1f1;
  color: white;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.header {
  height: 8vh;
  background-color: #0D0D0D;

}
.header img{
  height: 12vh;
  margin-left: 8vw;
  margin-top: -1vw;
}
#santaluziaimages{
  max-height: 240px;
}
body {
  background-color: #121212;
}
#filtro-container {
  border-radius: 1em;
  padding:3em 3em;
  border:0.06em solid #262626;
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  margin-left: 150px;
  margin-top: 70px;
  margin-bottom: 100px;
  color: white;
  background-color: #0D0D0D;
  font-size: 15px;
  line-height: 150%;
  display: block;
}
.results-countainer {

  border-radius: 1em;
  border:0.06em solid #262626;
  padding: 5em 2em;
  position: relative;
  position: fixed;
  background-color: #0D0D0D;
  width: 65vw;
  margin-top: 70px;
  margin-left: 450px;
  margin-right: 6vw;
  height: 61.5vh;
  overflow-y: scroll;
}
#btnbtn {
  border-radius: 1em;
  padding: 10px 25.5px;
  background-color: white;
  color: black;

  font-size: 15px;
}
#btn2 {
  border-radius: 1em;
  padding: 10px 24px;
  background-color: white;
  color: black;

  display: none;
  font-size: 15px;
}
#btnbtn:hover {
  border-radius: 1em;
  padding: 10px 25.5px;
  background-color: black;
  color: white;

  font-size: 15px;
}
#btn2:hover {
  border-radius: 1em;
  padding: 10px 24px;
  background-color: black;
  color: white;

  display: none;
  font-size: 15px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.results-countainer::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.results-countainer {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.resultados-slider {
  overflow-y: auto;
  border-radius: 1em;
  position: absolut;
  padding: -2em 2em;
  width: 60vw;
  margin-left: auto;
  margin-right: 0;
  justify-content: space-around;
}
.resultados-text {
  position: absolute;
  padding: 1em 2em;
  background-color: #121212;
  color: white;
  width: 28vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}
.resultados-text h1{
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  line-height: 100%;
}
.resultados-text h3{
  line-height: 100%;
}
.resultados-text a{
  color: white;
}
.slideshow-container {
  position: relative;
  margin-left: auto;
  margin-right: 40px;
  max-width: 300px;
  border-radius: 1em;
}
.slideshow-container img{
  object-fit: cover;
  max-height: 166px;
  border-radius: 0.5em;
}
li {
  list-style-type: none;
}
hr {
  border: 0.06em solid white;
}
#showhide{
  display: none;
  z-index: 6;
}
#show {
  display: none;
  z-index: 6;
}
@media only screen and (max-width : 1250px) {
#filtro-container {
  border-radius: 1em;
  padding:3em 3em;
  border:0.06em solid #262626;
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  margin-left: 10px;
  margin-top: 70px;
  margin-bottom: 100px;
  color: white;
  background-color: #0D0D0D;
  font-size: 15px;
  line-height: 150%;
  display: block;
}
.results-countainer {

  border-radius: 1em;
  border:0.06em solid #262626;
  padding: 5em 2em;
  position: relative;
  position: fixed;
  background-color: #0D0D0D;
  width: 65vw;
  margin-top: 70px;
  margin-left: 300px;
  margin-right: 6vw;
  height: 61.5vh;
  overflow-y: scroll;
}
}
@media only screen and (max-width : 750px) {
  #filtro-container {
    position: relative;
    width: 60vw;
    height: 61.5vh;
    border-radius: 1em;
    padding:3em 3em;
    border:0.06em solid #262626;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    color: white;
    background-color: #0D0D0D;
    font-size: 15px;
    line-height: 150%;
    display: block;
    overflow-y: scroll;
  }
  .results-countainer {

    border-radius: 1em;
    border:0.06em solid #262626;
    padding: 0em 0em;
    position: relative;
    position: fixed;
    background-color: #0D0D0D;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 1vw;
    height: 61.5vh;
    overflow-y: scroll;
  }
}

@media only screen and (max-width : 750px) {

  #filtro-container {
    border-radius: 1em;
    padding:3em 3em;
    border:0.06em solid #262626;
    font-family: 'Montserrat', sans-serif;
    margin-left: 30px;
    margin-top: 50px;
    color: white;
    background-color: #0D0D0D;
    font-size: 15px;
    line-height: 150%;
    display: block;
    z-index: 4;
    overflow-y: scroll;
  }

  .results-countainer {

    border-radius: 1em;
    border:0.06em solid #262626;
    padding: 0em 0em;
    position: relative;
    background-color: #0D0D0D;
    width: 80vw;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 0px;
    height: 69.5vh;
    overflow-y: scroll;
  }
  .slideshow-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  .resultados-text{
    position: relative;
    width: 215px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
  }
  .resultados-slider{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 275px;
  }
  hr {
    border: 0.07em solid white;
    width: 62vw;
  }
  .header img{
    height: 10vh;
    margin-left: 8vw;
    margin-top: -1vw;
  }
  #showhide{
    display: block;
    z-index: 6;
  }
}
